html
    head
        link(rel="stylesheet" href="/index.css")
    body
        div.containerEx2
            header1
                h1 #{placeholder}
            section1
                h1 Blank
            section2
                h1 Blank
            section3
                h1 Blank
            section4
                h1 Blank