html
    head
        link(rel='stylesheet' href='/ex2.css')
    body
        div.container
            section1
                h1 Blank
            section2
                h1 Blank
            section3
                h1 Blank
            section4
                h1 Blank
            section5
                h1 Blank
            section6
                h1 Blank
            section7
                h1 Blank